<nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'TecnicordInicio' %}">Inicio</a>
                <a class="navbar-brand" href="{% url 'TecnicordTractores' %}">Tractores</a>
                <a class="navbar-brand" href="{% url 'TecnicordCamiones' %}">Camiones</a>
                <a class="navbar-brand" href="{% url 'TecnicordPulverizadoras' %}">Pulverizadoras</a>
                {% if user.is_authenticated %}
                        <img height = "40px" src=" {{ user.avatar.imagen.url }}" alt="">
                        <h5>User: {{ user.get_username }}<h5>
                        <a class="btn btn-primary" href="{% url 'UserTecnicordLogout' %}">Logout</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'UserTecnicordLogin' %}">Login</a>
                    <a class="btn btn-primary" href="{% url 'UserTecnicordRegister' %}">Registro</a>
                {% endif %}
            </div>
        </nav>